{% load static %}
<div class="card-footer navbar-dark bg-dark footer fixed-bottom">
    <div class="text-light text-center center" style="display: inline;">
        <small>Final Project for Python Web Development @SoftUni by Takvor M.
            Garabedian - created November 2020&nbsp;&nbsp;&nbsp;</small>
        <small class="text-light text-center"><a href="{% url 'contact us' %}" style="color: wheat">Contact
            us</a></small>
    </div>
    <div class="text-right" style="display: inline; float: right;">
        <audio hidden src="/media/sounds/Bolero.mp3" controls ontimeupdate="update_time()" type="audio/mp3" loop id="background_audio"></audio>
        <a class="btn btn-info btn-sm" onclick="toggle_play()">Background music</a>
    </div>
</div>
<script src="{% static 'js/audio_tag_time_keeper.js' %}"></script>