<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a class="nav-link" href="{% url 'landing' %}">Home</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list items' %}">All vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create item' %}">Add vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>
