{% extends 'landing_page.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" class="furniture-form" enctype="multipart/form-data">
                <div id="image_url_input">
                    <h3 class="text-center">Add new photo from WEB</h3>
                    <label for="{{ form.image_url.id_for_label }}">WEB Image Upload</label>
                    {{ form.image_url }}
                    {{ form.image_url.errors }}
                    <img id="web_img_preview" src="{{ item.image_url }}" class="w-50 rounded mx-auto d-block"/>
                </div>
                <div id="image_file_input">
                    <h3 class="text-center">Add new photo from Local PC</h3>
                    <label for="{{ item.image_file.id_for_label }}">Local Image Upload (Leave it blank for No Image)</label>
                    {{ form.image_file }}
                    {{ form.image_file.errors }}
                    <img id="local_img_preview" src="{{ item.image_file.url }}" class="w-50 rounded mx-auto d-block"/>
                </div>
                <button id="btn_create" class="btn btn-primary mt-2" type="submit">Upload your new item</button>
            </form>
        </div>
    </div>
    <script src="/static/js/image_preview.js"></script>
{% endblock content %}
