{% extends 'landing_page.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Edit item photo</h1>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" action="{% url 'edit item' item.pk %}" class="furniture-form">
                    {% csrf_token %}
                    {{ form }}
{#                    <img id="img_preview" src="{{ item.image_url }}" class="w-50 rounded mx-auto d-block"/>#}
                    <img id="img_preview" src="{{ item.image_file.url }}" class="w-50 rounded mx-auto d-block" alt="Image goes here"/>
                    <button class="btn btn-primary mt-2" type="submit">Edit</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock content %}