{% extends 'landing_page.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Are you sure to delete vehicle {{ item.name }}?</h1>
                <div class="m-auto d-flex justify-content-center">
                    <div class="m-2">
                        <form method="post" action="{% url 'delete item' item.pk %}">
                            {% csrf_token %}
                            {% include 'items/item_no_image_data.html' %}
                            {% include 'items/image_delete.html' %}
                            <input type="submit" value="Confirm" class="btn btn-danger"/>
                            <a class="btn btn-primary" href="javascript:history.back()">No, go back</a>
                        </form>
                    </div>
                    <div class="m-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
