{% extends 'landing_page.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Add new item details</h1>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post" class="furniture-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'items/item_no_image_data.html' %}
                    {% include 'items/image_upload.html' %}
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock content %}
