{% extends 'landing_page.html' %}

{% block content %}
    <div class="container">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                {% if item.image_url %}
                    <img src="{{ item.image_url }}" class="w-50 rounded mx-auto d-block"
                         alt="image of {{ item.name }}">
                {% else %}
                    <img src="{{ item.image_file.url }}" class="w-50 rounded mx-auto d-block"
                         alt="image of {{ item.name }}">
                {% endif %}
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex justify-content-between">
                    <ul>
                        <li><h5><em>Type:</em> {{ item.type|capfirst }}</h5></li>
                        <li><h5><em>Make:</em> {{ item.make }}</h5></li>
                        <li><h5><em>Model:</em> {{ item.model }}</h5></li>
                        <li><h5><em>Build year:</em> {{ item.build_year }}</h5></li>
                    </ul>
                </div>
                <p class="mt-2">Description: {{ item.description|linebreaks }}</p>
                <div>
                    {% if python.can_delete %}
                        <a href="{% url 'edit item' item.id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'delete item' item.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
                <div style="padding-top: 3%">
                    {% if like %}
                        <a href="{% url 'like item' item.pk %}" style="color: red"><i class="fa fa-thumbs-down fa-3x"
                                                                                      aria-hidden="true"></i>
                            <em><b>UnLike</b></em></a>
                    {% else %}
                        <a href="{% url 'like item' item.pk %}" style="color: green"><i class="fa fa-thumbs-up fa-3x"
                                                                                        aria-hidden="true"></i>
                            <em><b>Like</b></em></a>
                    {% endif %}
                </div>
                <p class="mt-2">Likes: {{ item.like_set.count }}</p>
            </div>
        </div>
    </div>
    <div class="d-block" style="background-color: #f1e3e3; padding:2%">
        <div class="box">
            <form method="post" action="{% url 'item details or comment' item.pk %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Add comment</button>
            </form>
        </div>
        {% if item.comment_set.count > 0 %}
            <div class="box">
                <hr>
                <h4 class="text-lg-center" style="color: #6f42c1"><u>Users' comments uploaded:</u></h4>
                <hr>
            </div>
            {% for comment in item.comment_set.all %}
                <div class="box">
                    <h5><em>{{ comment.comment }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this item. </h3>
            </div>
        {% endif %}
    </div>
{% endblock content %}
